.header {
    color: white;
    display: flex;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
    background-color: #212121  ;

}

.description {
    text-align: center;
}
