.header {
    color: white;
    display: flex;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%
}

.description {
    margin-top: 20px;
    text-align: center;
    width: 70%;
}
